.skills {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 5rem;
}

.skills .txt-card2 {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    margin-right: 1.5rem;
}

.skills .list-card2 {
    display: flex;
    gap: 6rem;
    margin-right: 2rem;
}

.skills .item-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}