.item {
    padding-top: 1rem;
}

.item img{
    height: 40px;
    transition: .1s ease;

}

#email img:hover {
    border-bottom: 3px solid var(--color-email);
    border-radius: 3px;
    height: 40px;
    transition: .1s ease;

}

#wpp img:hover {
    border-bottom: 3px solid var(--color-wpp);
    border-radius: 3px;
    height: 40px;
    transition: .1s ease;

}


#linked img:hover {
    border-bottom: 3px solid var(--color-linked);
    border-radius: 3px;
    height: 40px;
    transition: .1s ease;

}